body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.dashboard-wrapper {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.sidebar h3 {
  margin-top: 0;
  color: #ecdbba;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.sidebar ul li:hover {
  background: #34495e;
}

.dashboard-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.profile-section,
.update-section {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #34495e;
}

.profile-detail {
  margin-bottom: 10px;
}

.profile-detail strong {
  color: #2980b9;
}

.profile-pic {
  max-width: 100px;
  border-radius: 50%;
  margin-left: 10px;
}

.update-buttons button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #2980b9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.update-buttons button:hover {
  background-color: #3498db;
}

.update-buttons {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  margin-bottom: 20px;
}

.form-group h3 {
  margin-top: 0;
  color: #34495e;
}
