.footer {
  width: 100%;
  background-color: #d3d3d3;
  text-align: center;
  padding: 20px 0;
  position: sticky;
  bottom: 0;
  left: 0;
  box-sizing: border-box; /* Ensure padding is included in width */
}

.footer p {
  margin: 0;
  font-size: 1em;
}
